{
    "presets": [
        ["@babel/preset-env", { 
            "targets": { 
                "node": "current" 
            } 
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "transform-dynamic-import",
        ["module-resolver", {
            "alias": {
                "app": "./src",
                "env": "./env"
            }
        }]
    ]
}