{
    "extends": "standard",
    "plugins": [
        "json"
    ],
    "rules": {
        "no-tabs":"off",
        "semi": ["warn", "always"],
        "indent": ["error", "tab"],
        "no-mixed-spaces-and-tabs": ["error"],
        "require-jsdoc": ["error"]
    }
}