{
    "extends": [
        "standard", 
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "classes": true
        }
    },
    "plugins": [
        "json",
        "mocha",
        "chai-friendly"
    ],
    "env": {
        "node": true,
        "mocha": true
    },
    "globals": {
        "should": true
    },
    "rules": {
        "no-tabs":"off",
        "semi": ["warn", "always"],
        "indent": ["error", "tab", { "SwitchCase": 1 }],
        "no-mixed-spaces-and-tabs": ["error"],
        "no-unused-expressions": 0,
        "require-jsdoc": ["error"],
        "padded-blocks": ["off"],
        "mocha/no-exclusive-tests": "error",
        "chai-friendly/no-unused-expressions": ["error", { "allowTernary": true }]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}