{
    "extends": "standard",
    "plugins": [
        "json",
        "mocha"
    ],
    "globals": {
        "describe": true,
        "it": true
    },
    "rules": {
        "no-tabs":"off",
        "semi": ["warn", "always"],
        "indent": ["error", "tab"],
        "no-mixed-spaces-and-tabs": ["error"],
        "require-jsdoc": ["error"],
        "mocha/no-exclusive-tests": "error"
    }
}